@import '/src/styles/index.scss';

.faq {
  padding-top: vw(180);
  h2 {
    max-width: vw(641);
    margin: 0 auto;
  }
}

.container {
  margin-top: vw(56);
  display: flex;
  column-gap: vw(100);
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.left {
  p {
    margin: 0 vw(76) vw(56) 0;
  }
  img {
    width: vw(344);
    height: vw(405);
    object-fit: cover;
    margin-left: vw(60);
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    img {
      margin-left: 0;
      margin-bottom: vmin(3);
    }
  }
}

.right {
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: vw(24);
  li {
    width: 100%;
  }
}
