@import 'variables';
@import 'functions';
@import 'reset';
@import 'mixins';

body {
  background-color: $background;
  color: $white;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}

button {
  border: none;
  cursor: pointer;
}

.title {
  @include font('Clash Display', vw(72), 600, 120%, $white);
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: vmin(20);
  }
}
.text {
  @include font('Inter', vw(16), 400, 140%, $white);
  @media screen and (max-width: 768px) {
    font-size: vmin(6);
  }
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}
