@import '/src/styles/index.scss';

.wrapper {
  height: vw(422);
  background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
  padding: vw(1);
  clip-path: polygon(50% 0%, 100% 0, 100% 83%, 74% 100%, 0 100%, 0% 60%, 0 0);
  border-radius: vw(16);
  cursor: pointer;
}

.item {
  height: 100%;
  clip-path: polygon(50% 0%, 100% 0, 100% 83%, 74% 100%, 0 100%, 0% 60%, 0 0);
  img {
    height: 100%;
    object-fit: cover;
    border-radius: vw(16);
  }
  transition: 0.2s;
  width: vw(184);
  &.active {
    width: vw(392);
  }
}
