@import '/src/styles/index.scss';

.about-us {
  margin-top: vw(89);
}

.container {
  margin-top: vw(56);
  display: flex;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-title {
  @include font('Clash Display', vw(32), 600, 120%, $white);
  text-align: center;
  margin-bottom: vw(12);
}

.image-wrapper {
  width: vw(394);
  height: vw(156);
  z-index: -2;
}

.cards {
  display: flex;
  margin-top: vw(-10);
  z-index: -2;
  &:nth-child(1) {
    margin-top: vw(-20);
  }
}

.right {
  margin-top: vw(109);
  position: relative;
  img {
    position: absolute;
    bottom: vw(45);
    left: vw(170);
  }
}
