@import '/src/styles/index.scss';

.review {
  padding-top: vw(180);
}

.container {
  margin-top: vw(48);
  display: flex;
  align-items: center;
  column-gap: vw(24);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  @media screen and (max-width: 768px) {
    margin-bottom: vmin(4);
  }
}

.left-title {
  @include font('Clash Display', vw(24), 500, 120%, $white);
  margin-bottom: vw(17);
}

.right {
}
